* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: optimizeQuality;
  font-family: "Space Mono";
}
.h3 {
  font-size: 19px;
}
#alterarTemaSite {
  background-color: none;
  font-size: 11px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  z-index: 99999;
  margin-top: 20px;
}
#tecnologia1,
#tecnologia2,
#tecnologia3 {
  width: 30px;
  height: 30px;
  display: flex;
  image-rendering: optimizeQuality;
  gap: 2rem;
}
.modal-header {
  justify-content: center;
  gap: 20px;
}
.icon3 {
  width: 50px;
  z-index: -1;
  height: 50px;
  background-image: url("https://www.svgrepo.com/show/494569/rocket-innovation-space.svg");
  background-size: cover;
  position: relative;
  fill: rgb(255, 255, 255);
  margin-bottom: 100px;
  transition: 1s;
  animation: cair 2s ease-in-out infinite, girar 3s linear infinite;
}

@keyframes cair {
  0% {
    top: -50px;
  }
  25% {
    top: -50px;
  }
  50% {
    top: -50px;
  }
  75% {
    top: 50px;
  }
  100% {
    top: -50px;
  }
}

@keyframes girar {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-position: 50% 50%;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px;
}
#botaoCorProjeto,
#ButtonProjeto {
  color: rgb(2, 162, 127);
  font-family: "Inter";
}
#textAbout,
#textoAbout,
#aboutText,
#projectsContainer {
  text-align: left;
  color: rgb(255, 255, 255);
}
.card-body {
  height: 120px;
}
h5 {
  color: rgb(132, 127, 127);
  text-decoration: none;
  font-size: 1.1rem;
}
h5:hover {
  color: bisque;
}

.close {
  color: bisque;
  float: right;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #d8d4d4;
  text-decoration: none;
  cursor: pointer;
}

.imagemprincipal {
  margin-bottom: 8rem;
  border-radius: 215px;
  width: 16rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 96px;
  z-index: -1;
}
.navbar .logo {
  font-size: 28px;
  color: white;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  z-index: -1;
}
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 96px;
}
#imgProjeto {
  height: 160px;
  image-rendering: optimizeQuality;
  width: auto;
}

.headline h2 {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
  color: #ffff00;
  max-width: 600px;
  top: -15%;
}
.headline p {
  font-weight: 200;
  z-index: -1;
  color: white;
  line-height: 1.3;
  max-width: 600px;
  font-family: "Space Mono", monospace;
  top: -15%;
  position: relative;
}

.joao-pedro-img {
  width: 20%;
}
.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#container-about {
  background-color: #0a0914;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
}
.joao-pedro-img > p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  top: 20px;
  font-family: Calibri;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
.linguagens {
  background-color: rgba(68, 65, 65, 0.6);
  border-radius: 15px;
  font-size: 28px;
  width: 40vw;
  color: #ffff00;
  height: 45vh;
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  top: 30vh;
  margin-bottom: 22vh;
  position: relative;
  transition: 0.5s;
  text-align: center;
  position: relative; /* 2 */
  transform: translate(0, -50%);
} /* 4 */
.linguagens > h1 {
  font-size: 28px;
  font-weight: 100;
  position: relative;
  margin: 20px;
}
.square {
  display: inline-block;
  position: relative;
  top: -5vh;
  filter: grayscale(100%);
  width: 5rem;
  background-color: #1d1e1f;
  border: 2px solid rgb(255, 0, 0);
  text-align: center;
  line-height: 105px;
  transition: 0.5s;
  border-radius: 12px;
  height: 4.5rem;
}
.square:hover {
  transform: translateY(-10%);
  filter: none;
  opacity: 1;
}
.square img {
  max-width: 65px;
  max-height: 50px;
  border-radius: 10px;
  position: relative;
  bottom: 20px;
}
.square p {
  position: relative;
  bottom: 100%;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  height: 12px;
  display: flex;
  justify-content: space-around;
}
.buttons {
  text-align: center;
  display: flex;
}
h4 {
  border-radius: 12px;
  color: white;
}

.card-img-top {
  width: auto;
  height: auto;
  border-radius: 6px;
}
summary {
  font-size: 12px;
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 1px;
}
#back-to-top {
  background-color: #110332;
  color: #ffffff;
  width: 60px;
  height: 50px;
  top: 60px;
  font-size: 28px;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
  z-index: 999;
  transition: 0.5s ease-in-out;
  display: inline-block;
}
#back-to-top:hover {
  background-color: #ffffff;
  transition: 1s;
  color: rgb(0, 0, 0);
}
/* Track */
::-webkit-scrollbar-track {
  background: #135950b1;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: 1s;
  background: rgb(251, 255, 11);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(216, 213, 9, 0.785);
  background: rgba(216, 213, 9, 0.785);

  background: rgba(216, 213, 9, 0.785);
}
@keyframes glowing_401 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.carde {
  width: 100%;
  background-color: white;
  color: rgb(255, 247, 0);
  height: 13rem;
  background: linear-gradient(to top, #110338 0%, #0c023ea3 100%);
  border-radius: 1rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  margin-top: 20%;
  /* margin-bottom: 20px; */
  text-align: center;
}
.card-info {
  display: flex;
  top: 20px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
/*Image*/
.card-avatar-image {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  background-image: url("https://i.ibb.co/2sQwZsC/foto-joao-60x60.png");
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}
/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.card-social__item {
  list-style: none;
}
.card-social__item svg {
  height: 30px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: #fffb00;
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}
.carde:hover {
  box-shadow: 0 8px 5px #045f7b33;
}
.carde:hover .card-info {
  transform: translateY(-5%);
}
.carde:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}
.card-social__item svg:hover {
  fill: #748eb4;
  transform: scale(1.1);
}
.card-avatar-image:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 300px) and (max-width: 420px) {
  #about {
    margin-bottom: 100px;
    width: auto;
  }
  .linguagens {
    width: auto;
    height: auto;
    margin-top: 250px;
  }
  .modal-header {
    flex-direction: column;
  }
  .card-img-top {
    width: 280px;
    height: auto;
  }
  .navbar {
    margin-top: 20px;
  }
  .navbar .logo {
    font-size: 20px;
  }
  #imgProjeto {
    width: auto;
    height: auto;
  }
  #alterarTemaSite {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 424px) and (max-width: 520px) {
  .linguagens {
    margin-top: 150px;
    width: auto;
    height: auto;
  }
  #imgProjeto {
    width: auto;
    height: auto;
  }
  .card-img-top {
    width: 400px;
    height: auto;
  }
  .modal-header {
    flex-direction: column;
  }
  #about {
    margin-bottom: 150px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 767px) {
  .linguagens {
    margin-top: 100px;
    height: auto;
    width: auto;
  }
  .card-img-top {
    width: 450px;
    height: auto;
  }
  #about {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1020px) {
  .linguagens {
    height: auto;
    width: auto;
    display: inline-block;
  }
  .card-img-top {
    width: 450px;
    height: auto;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 57%;
    left: 38px;
    position: relative;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .linguagens {
    height: auto;
    width: 78vw;
  }
  #tecnologias {
    margin-left: 200px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1950px) {
  .linguagens {
    height: auto;
    width: auto;
  }
  #imgProjeto{
    width: 100%;
    height: 300px;
    -webkit-font-smoothing: antialiased;
    image-rendering: optimizeQuality;
  }
  #tecnologias {
    margin-left: 300px;
  }
}
@media only screen and (min-width: 1960px) {
  .linguagens {
    margin-top: 100px;
    height: auto;
    width: auto;
  }
  #imgProjeto{
    width: 100%;
    height: 300px;
    -webkit-font-smoothing: antialiased;
    image-rendering: optimizeQuality;
  }
}
