*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(26, 26, 38, 0.9);
  color: #ffffff;
  margin: 0;
}  
#player {
  position: fixed;
  min-width: 100%;
  opacity: 0.8;
  z-index: -1;
  min-height: 100%;
}
.progress{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 5px;
  background-color: #2c2c2c;
}
.bar{
  display: block;
  width: 0;
  position: absolute;
  height: inherit;
  background-image: linear-gradient(90deg,#420880,#2f0b78,#0353a3,#0170f0);
}
.imagemprincipal{
  margin-bottom: 5rem;
  border: 3px solid #102a9c;
  border-radius: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 96px;
}
.navbar ul li:hover{
  transform: translateY(-30%);
  transition: 0.5s;
  opacity: 1;
  width: auto;
  border-radius: 10px;
}
.navbar .logo {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.navbar ul li {
  font-weight: 300;
}
.navbar ul li .icon {
  line-height: 0.9;
  font-weight: 300;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 96px;
}
.about{
  width: 75vw;
  margin-left: -25%;
  text-align: center;
}
@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}
@keyframes html-progress {
  to { --progress-value: 92; }
}
@keyframes css-progress {
  to { --progress-value: 85; }
}
@keyframes sql-progress {
  to { --progress-value: 80; }
}
@keyframes js-progress {
  to { --progress-value: 65; }
}
@keyframes ts-progress {
  to { --progress-value: 45; }
}
@keyframes php-progress {
  to { --progress-value: 40; }
}
@keyframes angular-progress {
  to { --progress-value: 35; }
}
@keyframes tailwind-progress {
  to { --progress-value: 30; }
}
.html,.php,.sql,.ts,.js,.angular,.css,.tailwind{
  display: table-cell;
  vertical-align: middle;
  height: auto;
  right: 0%;
}
label{
  font-size: 12px;
  margin: 0;
}

.progress-bar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}
.conhecimentos{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 150px;
}
.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) '%';
}
.html {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: html-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.html::before {
  animation: html-progress 2s 1 forwards;
}
.css {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99)calc(var(--progress-value) * 1%), pink 0);
  animation: css-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.css::before {
  animation: css-progress 2s 1 forwards;
}
.js {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99)calc(var(--progress-value) * 1%), pink 0);
  animation: js-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.js::before {
  animation: js-progress 2s 1 forwards;
}
.ts {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: ts-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.ts::before {
  animation: ts-progress 2s 1 forwards;
}
.php {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: php-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.php::before {
  animation: php-progress 2s 1 forwards;
}
.sql {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: sql-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.sql::before {
  animation: sql-progress 2s 1 forwards;
}
.angular {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: angular-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.angular::before {
  animation: angular-progress 2s 1 forwards;
}
.tailwind {
  background: 
    radial-gradient(closest-side, #17164f 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(4, 231, 99) calc(var(--progress-value) * 1%), pink 0);
  animation: tailwind-progress 2s 1 forwards;
  color: rgb(255, 255, 255);
}
.tailwind::before {
  animation: tailwind-progress 2s 1 forwards;
}
progress {
  visibility: hidden;
  width: 0;
  height: 0;
}
.headline h2 {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  max-width: 600px;
  top:-15%;
}
.headline p {
  font-weight: 200;
  line-height: 1.3;
  max-width: 600px;
  top:-15%;
  position: relative;
}
.headline .buttons {
  margin-top: 52px;
  top:-15%;
  position: relative;
}
.headline .buttons a {
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 24px;
  top:-15%;
  position: relative;
}
.get-started {
  background-color: #00BFA6;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 .get-started span:last-child {
  display: none;
 }
 .get-started:hover {
  transition: .4s;
  border: 2px dashed #00BFA6;
  background-color: #ffffff;
  color: #180383;
 }
 .get-started:active {
  background-color: #ffffff;
 }
.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  z-index: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}
.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}
.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}
.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}
.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}
.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}
.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}
.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}
.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}
.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}
.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}
.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}
.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}
.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}
.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}
.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}
.continue-application:before, .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}
.continue-application:after {
  --r: 45deg;
}
.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}
.joao-pedro-img{
  width: 20%;
}
/* Seu estilo CSS */
.conteudo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.conteudo.mostrando {
  opacity: 1;
  visibility: visible;
}

.botaoMostrar {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(36, 3, 111);
  padding: 0.7em 2em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease all;
  width: 10rem;
  border-radius: 12px;
  bottom: 18rem;
  margin-bottom: 0rem;
  z-index: 1;
}
.clique{
  bottom: 9rem;
  cursor: none;
  position: relative;
  text-decoration: none;
  color: white;
}
.clique::after{
  display: none;
}
.botaoMostrar::before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  border-radius: 12px;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
}
.botaoMostrar:hover, .botaoMostrar:focus{
  color: white;
}
.botaoMostrar:hover::before,.botaoMostrar:focus::before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.botaoMostrar:active{
  transform: scale(0.9);
}
.container-about{
  background-color: rgba(27, 45, 56, 0.6);
  margin-top: -18%;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
}
.joao-pedro-img  > p{
  font-size: 18px;
  text-align: center;
  margin: 0;
  top: 50%; 
  position: relative;
  left: 50%;
 transform: translate(-50%, -50%);
}
.linguagens{
  background-color: rgba(68, 65, 65, 0.6);
  border-radius: 15px;
  font-size: 28px;
  width: 40vw;
  height: 45vh;
  grid-template-columns:  1fr 1fr 1fr 1fr ; 
  grid-template-rows: 1fr 1fr 1fr;
  top: 30vh;
  margin-bottom: 22vh;
  position: relative;
  transition: 0.5s;
  text-align: center;
  margin: 0;
  position: relative;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%) 
}   /* 4 */
.linguagens > h1{
  font-size: 28px;
  font-weight: 100;
  position: relative;
  margin: 20px;
}
.square {
  display: inline-block;
  position: relative;
  top: -5vh;
  width: 4.5rem;
  background-color: #17164f;
  border: 2px solid rgb(74, 21, 21);
  text-align: center;
  line-height: 100px;
  transition: 0.5s;
  border-radius: 12px;
  height: 4.5rem;
}
.square:hover{
  transform: translateY(-40%);
  opacity: 1;
}
.square img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  position: relative;
  bottom: 2px;
}
.square p{
  position: relative;
  bottom: 100%;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  height: 12px;
  display: flex;
  justify-content: space-around;
}
.buttons{
  text-align: center;
display: flex;
}
h4{

  border-radius: 12px;
  color: white;
}
#github:hover{
  background-color: rgb(32, 8, 79);
  padding: 0;
  opacity: 1;
  transition: 0.5s;
  animation-delay: 1s;
  color: white;
}
#linkedin:hover{
  background-color: rgb(32, 8, 79);
  padding: 0;
  opacity: 1;
  transition: 0.5s;
  color: white;
  animation-delay: 1s;
}
#email:hover{
  background-color: rgb(32, 8, 79);
  padding: 0;
  opacity: 1;
  animation-delay: 1s;
  transition: 0.5s;
  color: white;
}
#kofi:hover{
  padding: 0;
  opacity: 1;
  animation-delay: 1s;
  transition: 0.5s;
  color: white;
}
#vercel:hover{
  padding: 0;
  opacity: 1;
  animation-delay: 1s;
  transition: 0.5s;
  color: white;
}
#vercel{
  width: 90px;
  justify-content: space-around;
  border-radius: 12px;
  top: 10px;
  position: relative;
}
.vercel > h4{
  top: 30px;
  position: relative;
}

.cardBox {
  width: 250px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 16px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15%;
}
.card {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  text-decoration: none;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}
.project{
  display: flex;
  margin-top: 16vh;
  top: -5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.card .h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 800;
  pointer-events: none;
  opacity: 1;
}
.card .content .h3 {
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  margin-bottom: 10px;
}
.card .content p {
  font-size: 14px;
  line-height: 1.4em;
}
.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}
.card:hover .h4 {
  opacity: 0;
}

summary{
  font-size: 12px;
  width: 100%;
}
.imagemfooter{
  position: absolute;
  width: 25%;
  margin-left: 25%;
  cursor:default;
  margin-top: rem;
}
.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  transform-origin: center;
  animation: glowing_401 5s linear infinite;
}
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 1px;
}

.back-to-top {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #d25513;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  z-index: 999;
}

/* Estilos de hover do botão */
.back-to-top:hover {
  background-color: #0056b3;
  transition: 1s;
  color: white;
}
/* Track */
::-webkit-scrollbar-track {
  background: #135950b1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: 1s;
  background: rgb(251, 255, 11); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(216, 213, 9, 0.785); 

}

@keyframes glowing_401 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: white;
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  transition: .4s;
}

.slider:before, .slider:after {
  content: "";
  display: block;
}

.slider:after {
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.chk:checked + .slider {
  background-color: limegreen;
}

.chk:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

.chk:checked + .slider:before {
  transform: translateY(2.3em);
}

.chk:checked + .slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}
.carde{
  width: 100%;
  background-color: white;
  color: rgb(255, 247, 0);
  height: 13rem;
  background: linear-gradient(to top, #110338 0%, #0c023ea3 100%);;
  border-radius: 1rem;
  transition: box-shadow .3s ease, transform .2s ease;
  margin-top: 20%;
  /* margin-bottom: 20px; */
  text-align: center;
 }

 .card-info {
  display: flex;
  top: 20px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
}
/*Image*/
.card-avatar-image {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  background-image: url("https://i.ibb.co/2sQwZsC/foto-joao-60x60.png");
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 .card-social__item {
  list-style: none;
}
.card-social__item svg {
  height: 30px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: #c4c7c7;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 .carde:hover {
  box-shadow: 0 8px 5px #045f7b33;
 }

 .carde:hover .card-info {
  transform: translateY(-5%);
 }

 .carde:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }

 .card-social__item svg:hover {
  fill: #748eb4;
  transform: scale(1.1);
 }

 .card-avatar-image:hover {
  transform: scale(1.1);
 }
 @media only screen and (max-width:425px) {
  body{
    max-width: 440px;
  }
  .botaoMostrar{
    text-align: center;
    left: 25%;
    position: relative;
    width: 12rem;
    margin-top: 10rem;
  }
  .headline p {
    width: 370px;
    position: relative;
    font-size: 19px;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .headline h2{
    width: 420px;
    text-align: center;
  }
  .joao-pedro-img > p {
    font-size: 18px;
    text-align: center;
    margin: 0;
    margin-top: 20%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    } 
  .container-about{
    margin-top: 25%;
    width: 100%;
}
  .buttons{
    flex-direction: column;
  }
  label{
    position: relative;
    bottom: 100%;
    font-size: 12px;
    text-decoration: none;
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    height: 12px;
    display: flex;
    justify-content: space-around;
  }
  .conhecimento{
    font-size: 28px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    right: 90px;
    position: relative;
  }
  .sobremim,.project{
    font-size: 28px;
    text-align: center;
    right: 8rem;
    width: 320px;
    position: relative;
  }
  .linguagens {
    position: relative;
    height: auto;
    top: 55vh;
    margin-bottom: 25vh;
    width: 100vw;
    margin-top: -80%;
    bottom: -34%;
    justify-items: center;
  }
    .linguagens > h1{
    font-size: 28px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    position: relative;
  } 
  .sobreProjetos{
    width: 320px;
    right: 100px;
    position: relative;
  }
  .imagemprincipal{
    width: 15rem;
    left: 3rem;
    position: relative;
    margin-bottom: 20rem;
    top: 7rem;
}
  .navbar {
    flex-direction: column;
    display: flex;
    left: 0%;
    margin-bottom: 10rem;
    position: relative;
  }
  .navbar .logo {
    font-size: 18px;
    display: flex;
    position: relative;
    left: 0%;
    margin-top: 20px;
  }
  section {
    grid-template-columns: 1fr 1fr;
    margin: 2px;
    top: 25%;
    position: relative;
  }
  .sobreProjetos {
    width: 291px;
    right: 100px;
    position: relative;
}
  .cardBox {
    width: 43vw;
    margin: 0;
  }
  h4 {
    margin-left: 0px;
    font-size: 12px;
    padding: 0;
  }
  .imagemfooter{
    margin-left: 10%;
    bottom: 6%;
    width: 45%;
  }
  .clique{
    text-align: center;
    font-size: 18px;
  }
  .carde{
    margin-left: -130%;
    width: 75vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .imagemprincipal{
    width: 12rem;
    left: 2rem;
    position: relative;
  }
  .botaoMostrar{
    text-align: center;
    left: 27%;
    position: relative;
    width: 10rem;
    margin-bottom: 20rem;
  }
  .headline h2 {
    width: 320px;
    text-align: center;
}
  .sobremim{
    text-align: center;
  }
  .conhecimentos{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }
  .clique{
    bottom: 400px;
    text-align: center;
    font-size: 18px;
  }
  .conhecimento{
    font-size: 28px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    right: 89px;
    position: relative;
  }
  .container-about{
    margin-top: -221px;
    position: relative;
  }
  .joao-pedro-img > p {
    font-size: 18px;
    text-align: center;
    margin: 0;
    bottom: -4rem;
    width: 320px;
    position: relative;
    margin-top: 38px;
    transform: translate(-50%, -50%);
 }
 .headline p{
  width: 320px;
 }
 .buttons{
  flex-direction: column;
 }
 .headline p{
  width: 320px;
 }
 .linguagens {
  position: relative;
  height: auto;
  top: 55vh;
  margin-bottom: 25vh;
  width: 100vw;
  margin-top: -80%;
  bottom: -34%;
  justify-items: center; 
}
.square{
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  width: 70px;
  height: 70px;
}
.square img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  position: relative;
  bottom: 2px;
}
  .linguagens > h1{
  font-size: 28px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  position: relative;
} 
 .navbar {
   flex-direction: column;
   display: flex;
   left: 0%;
   position: relative;
 }
 .navbar .logo {
   font-size: 18px;
   display: flex;
   position: relative;
   left: 1%;
   margin-top: 20px;
 }
 #projetos{
  grid-template-columns: 1fr;
  display: grid;
  margin: 20px;
 }
 .imagemfooter{
  position: relative;
  width: 200%;
  margin-left: 15%;
  cursor: default;
  margin-top: 2rem;
 }
} 
@media only screen and (min-width: 768px) {
  .container{
    text-align: center;
  }
  .botaoMostrar{
    text-align: center;
    left: 0%;
    position: relative;
    width: 10rem;
    margin-bottom: 20rem;
  }
  .about{
    width: 40vw;
    margin-left: -25%;
  }
  section{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  .square img{
    bottom: 5px;
  }
  .square{
    margin-top: -20px;
  }
  .linguagens{
    margin-left: 0%;
    height: auto;
    width: 59vw;
}
  .sobreProjetos{
    text-align: center;
    width: 620px;
    margin: auto;
    position: relative;
    right: 230px;
  }
  .imagemprincipal {
    left: 50%;
    margin-bottom: 11rem;
    position: relative;
    top: 5rem;
    width: 100%;
}
#projetos{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}
.cardBox{
  margin: -2px;
}
.joao-pedro-img > p{
  left: 55%;
  width: 85vw;
  top: 55px;
}
.clique{
  bottom: 400px;
}
  .imagemfooter{
    position: absolute;
    width: 35%;
    margin-left: 15%;
    cursor:default;
    margin-top:-1rem;
    z-index: 1;
  }
  .carde{
    width: 450px;
    position: relative;
    right: 200px;
  }
}
 @media only screen and (min-width: 1024px) {
  .linguagens{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    height: auto;
    right: 0%;
  }
  .botaoMostrar{
    text-align: center;
    left: 0%;
    position: relative;
    width: 10rem;
    margin-bottom: 20rem;
  }
  .about{
    width:52rem;
  }
  .sobreProjetos{
    width: 450px;
    right: 6rem;
    position: relative
  }
  section{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }
  .imagemfooter{
    position: relative;
    width: 100%;
    margin-left: 27vh;
    cursor: default;
    top: 15.8rem;
  }
  .imagemprincipal {
    left:50%;
    top: 12rem;
    margin-bottom: 11rem;
    position: relative;
}
  .square{
    margin-top: -20px;
  }
  .carde{
    width: 35vw;
    position: relative;
    right: 12rem;
  }
}
 @media only screen and (min-width: 1280px){
  .imagemfooter{
    position: relative;
    width: 75%;
    height: auto;
    margin-left: 10%;
    cursor:default;
    margin-bottom: 15rem;
  }
  .clique{
    bottom: 10px;
  }
  .container-about{
    margin-top: 18%;
  }
  .botaoMostrar{
    text-align: center;
    left: 0%;
    position: relative;
    width: 10rem;
    bottom: 18rem;
    margin-bottom: -1rem;
  }
  .sobreProjetos{
    width: 520px;
    margin:auto;
    top: 50%;
    position: relative;
  }
  .imagemprincipal{
    left: 50%;
    margin-bottom: 11rem;
    position: relative;
    top: 11rem;
    width: auto;
 }
  .joao-pedro-img > p {
    width: 900px;
  }
  .carde{
    margin-top: 0%;
    right: 50%;
    position: relative;
    width: 40vw;
  }
  .sobremim{
    left: 5%;
    position: relative;
  }
 }
 @media only screen and (min-width: 1960px){
  .imagemprincipal {
    left: 38%;
    margin-bottom: 11rem;
    position: relative;
    top: 14rem;
    width: auto;
 }
 .linguagens{
  margin-top: 100px;
 }
 .sobreProjetos,.project{
  position: relative;
  margin-bottom: 100px;
  left: 10%;
 }
}